/* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)  */

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  height: 84px;
  padding: 28px 0 28px 32px;
}
.nav > image {
  padding: 28px;
  padding-left: 32px;
  height: 28px;
  width: 103px;
}

#hero-image {
  width: 100%;
  height: 250px;
}
section {
  padding: 10%;
  text-align: center;
}

section > h1 {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: var(--desaturated-red);
  margin-bottom: 22px;
}

section > h1 > span {
  color: var(--dark-grayish-red);
  font-weight: 500;
}

.description {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -0.05em;
  margin-bottom: 34px;
}

form {
  height: 48px;
  position: relative;
}

form > input {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  padding-left: 24px;
  border: 0.2px solid #dbcbcc;
}

form > input::placeholder{
    color: #dbcbcc;
}

form > button {
  position: absolute;
  right: 0;
  top: 0;
  width: 67px;
  height: 48px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 5px 5px 15px -3px rgb(219,203,204);
  border: var(--soft-red);
  border-radius: 24px;
}
form> button:hover{
  background: rgb(250,220,220);
  background: linear-gradient(90deg, rgba(250,220,220,1) 0%, rgba(255,204,204,1) 100%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  cursor: pointer;
}
.error-message {
  visibility: hidden;
}

/* footer */
footer{
  position: absolute;
  width: 100%;
  bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 600px) {
  #hero-image {
    height: 300px;
  }
  footer{
    width: 60%;
  }
  .attribution{
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  header{
    width: 57%;
    padding-top: 64px;
    padding-left: 160px;
  }
  #hero-image{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 42.4%;
  }
  section{
    margin-left: 160px;
    text-align: left;
    width: 31.4%;
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  section>h1{
    text-align: left;
    font-size: 4rem;
  }
  .description{
    width: auto;
    font-size: 20px;
  }
  form{
    width: 100%;
    height: 64px;
  }
  form>input{
    border-radius: 32px;
  }
  form>button{
    height: 64px;
    width: 102px;
    border-radius: 32px;
  }
}


